# Groq
GROQ_API_KEY=gsk_Ibbi0zpqLh9QQ6dCJhnzWGdyb3FYkruElQeuJzISy9Z2ZwTy5r7aY
GROQ_MODEL=llama3-8b-8192

# PostgreSQL
POSTGRES_URL=postgresql+asyncpg://postgres:YOUR_PASSWORD@localhost:5433/supportpilot
POSTGRES_PASSWORD=YOUR_PASSWORD

# Redis
REDIS_URL=redis://localhost:6379

#cont..